<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/homepage.css" />
  </head>
  <body>
    <div class="Navbar" id="top">
      <div>
        <p class="orangeRed">
          Ship to <span class="flag-icon flag-icon-us"></span>US/USD<span
            class="caret"
          ></span>
        </p>
      </div>
      <div><p class="orangeRed">Quick Guide</p></div>
      <div class="dropdown">
        <p class="dropdown-toggle orangeRed" data-toggle="dropdown">
          Help <span class="caret"></span>
        </p>
        <ul class="dropdown-menu orangeRed">
          <li><a href="#">Help center</a></li>
          <li><a href="#">Chat</a></li>
          <li><a href="#">Call</a></li>
        </ul>
      </div>

      <div><p class="orangeRed">Media And Investing</p></div>
      <div class="dropdown">
        <p class="dropdown-toggle orangeRed" data-toggle="dropdown">
          Sell With Us<span class="caret"></span>
        </p>
        <ul class="dropdown-menu">
          <li class="orangeRed"><a href="#">Become a seller</a></li>
          <li class="orangeRed"><a href="#">seller center</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <p class="dropdown-toggle orangeRed" data-toggle="dropdown">
          Site/Language <span class="caret"></span>
        </p>
        <ul class="dropdown-menu">
          <li><a href="#">Hindi</a></li>
          <li class="orangeRed"><a href="#">japneese</a></li>
          <li class="orangeRed"><a href="#">English</a></li>
          <li class="orangeRed"><a href="#">Korean</a></li>
        </ul>
      </div>
    </div>
    <div id="logo2">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </body>
</html>
<script></script>
